{% extends 'layout.twig' %}

{% macro checked(option) %}
    {% if option is defined and option == 'on' %}
        checked="checked"
    {% endif %}
{% endmacro %}



{% block content %}

    {% import _self as checkbox %}
    {% import '@ui/tooltip.twig' as tooltip %}

    <div class="supsystic-item tables-view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <!-- End Tabs for Settings -->
                    <div class="stbCopyTextCodeSelectionShell col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-5 col-xs-10">
                                <select name="shortcode_example" id="stbCopyTextCodeExamples">
                                    {% for value, option in {
                                        'shortcode': 'Table Shortcode',
                                        'value_shortcode': 'Value Shortcode',
                                        'cell_shortcode': 'Cell Shortcode',
                                        'history_shortcode': 'History Shortcode',
                                        'php_code': 'Table PHP code',
                                    } %}
                                        <option value="{{ value }}">
                                            {{ option }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-2 stbTooltipInfo" style="margin-top: 0.45em;">
                                {{ tooltip.icon('
                                    <b>Table Shortcode:</b> lets display the table in the site content.<br /><br />
                                    <b>Value Shortcode:</b> lets display a value of single table cell in the site content.<br /><br />
                                    <b>Cell Shortcode:</b> lets display a table with single cell in the site content.<br /><br />
                                    <b>History Shortcode:</b> lets display an individual table data for each autorized user. Users can change the table data through editable fields on frontend. All user tables can be shown on Table History tab.<br /><br />
                                    <b>Table PHP code:</b> lets display the table through themes/plugins files (for example in the site footer). You can use any shortcode in this way.', 'top', true)
                                }}
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-10 stbCopyTextCodeShowBlock ShortCodeFirstBlock" data-for="shortcode" style="display: none;">
                                {% set shortcode = '[' ~ shortcode_name ~ ' id=' ~ table.id ~ ']' %}
                                <input type="text" name="stbCopyTextCode" value="{{ shortcode }}"
                                    class="stbCopyTextCode supsystic-tooltip-right tooltipstered" readonly="readonly">
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-10 stbCopyTextCodeShowBlock shortCodeSecondBlock" data-for="value_shortcode" style="display: none;">
                                {% set shortcode_value = '[' ~ shortcode_value_name ~ ' id=' ~ table.id ~ ' row=1 col=1]' %}
                                <input type="text" name="stbCopyTextCode" value="{{ shortcode_value }}"
                                    class="stbCopyTextCode supsystic-tooltip-right tooltipstered" readonly="readonly">
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-10 stbCopyTextCodeShowBlock" data-for="cell_shortcode" style="display: none;">
                                {% set shortcode_cell = '[' ~ shortcode_cell_name ~ ' id=' ~ table.id ~ ' row=1 col=1]' %}
                                <input type="text" name="stbCopyTextCode" value="{{ shortcode_cell }}"
                                    class="stbCopyTextCode supsystic-tooltip-right tooltipstered" readonly="readonly">
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-10 stbCopyTextCodeShowBlock" data-for="history_shortcode" style="display: none;">
                                {% set shortcode_history = '[' ~ shortcode_name ~ ' id=' ~ table.id ~ ' use_history=1]' %}
                                <input type="text" name="stbCopyTextCode" value="{{ shortcode_history }}"
                                       class="stbCopyTextCode supsystic-tooltip-right tooltipstered" readonly="readonly">
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-10 stbCopyTextCodeShowBlock" data-for="php_code" style="display: none;">
                                {% set php_code = '<?php echo do_shortcode("[' ~ shortcode_name ~ ' id=' ~ table.id ~ ']"); ?>' %}
                                <input type="text" name="stbCopyTextCode" value="{{ php_code }}"
                                    class="stbCopyTextCode supsystic-tooltip-right tooltipstered" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <ul class="subsubsub control-buttons">
                            <li>
                                <button id="buttonSave" class="button">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    {{ environment.translate('Save') }}
                                </button>
                            </li>
                            <li>
                                <button id="buttonClone" class="button">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                    {{ environment.translate('Clone') }}
                                </button>
                            </li>
                            {{ environment.getDispatcher().dispatch('tables-view-buttons-left') }}
                            <li>
                                <button id="export" class="button {% if environment.isPro() == false %}pro-notify{% endif %}" data-message="{{ environment.translate('Export available only in PRO version.') }}">
                                    <i class="fa fa-fw fa-upload"></i>
                                    {{ environment.translate('Export') }}
                                </button>
                            </li>
                            <li>
                                <button id="import" class="button {% if environment.isPro() == false %}pro-notify{% endif %}" data-message="{{ environment.translate('Import available only in PRO version.') }}">
                                    <i class="fa fa-fw fa-download"></i>
                                    {{ environment.translate('Import') }}
                                </button>
                            </li>
                            {{ environment.getDispatcher().dispatch('tables-view-buttons-right') }}
                            <li>
                                <button id="buttonClearData" class="button">
                                    <i class="fa fa-eraser" aria-hidden="true"></i>
                                    {{ environment.translate('Clear') }}
                                </button>
                            </li>
                            <li>
                                <button id="buttonDelete" class="button">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    {{ environment.translate('Delete') }}
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="table-title-wrap">
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <ul class="subsubsub tabs-wrapper">
                        <li class="title">
                            <h2 class="table-title" contenteditable="true"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                data-table-title="{{ table.title }}"
                                title="{{ environment.translate('Click to rename the table and hit [Enter]') }}">
                                {{ table.title }}
                            </h2>
                        </li>
                        <li>
                            <a href="#row-tab-settings" class="current button">
                                <i class="fa fa-fw fa-wrench"></i>
                                {{ environment.translate('Settings') }}
                            </a>
                        </li>
                        <li>
                            <a href="#row-tab-editor" class="button">
                                <i class="fa fa-fw fa-th"></i>
                                {{ environment.translate('Editor') }}
                            </a>
                        </li>
                        <li>
                            <a href="#row-tab-preview" class="button">
                                <i class="fa fa-fw fa-eye"></i>
                                {{ environment.translate('Preview') }}
                            </a>
                        </li>
                        <li>
                            <a href="#row-tab-css" class="button">
                                <i class="fa fa-fw fa-code"></i>
                                {{ environment.translate('CSS') }}
                            </a>
                        </li>
                        {{ environment.getDispatcher().dispatch('tabs_rendered', [table]) }}
                    </ul>
                </div>
            </div>

            <div class="row row-tab" id="row-tab-settings">
                <!-- Tabs for Settings -->
                <nav class="tabs-settings">
                    <ul class="subsubsub tabs-settings-wrapper">
                        <li>
                            <a href="#row-tab-settings-main" class="current button">
                                <i class="fa fa-fw fa-tachometer"></i>
                                {{ environment.translate('Main') }}
                            </a>
                        </li>
                        <li>
                            <a href="#row-tab-settings-features" class="button">
                                <i class="fa fa-fw fa-cogs"></i>
                                {{ environment.translate('Features') }}
                            </a>
                        </li>
                        <li>
                            <a href="#row-tab-settings-design" class="button">
                                <i class="fa fa-fw fa-picture-o"></i>
                                {{ environment.translate('Design') }}
                            </a>
                        </li>
                        <li>
                            <a href="#row-tab-settings-text" class="button">
                                <i class="fa fa-fw fa-language"></i>
                                {{ environment.translate('Language and Text') }}
                            </a>
                        </li>
                    </ul>
                </nav>
                    <form id="settings">
                        <section class="row-settings-tabs">
                        <section class="row row-settings-tab" id="row-tab-settings-main">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div style="padding: 0 15px;">
                                    <h3>{{ environment.translate('Table Elements') }}</h3>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="table-elements-caption">
                                            {{ environment.translate('Caption') }}
                                            {{ tooltip.icon('<img src="http://supsystic.com/_assets/tables/tooltip/caption.jpg"/>', 'top', true) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="elements[caption]"
                                                {{ checkbox.checked(table.settings.elements.caption) }}
                                            id="table-elements-caption"/>
                                        <!-- /#table-elements-caption -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="table-elements-description">
                                            {{ environment.translate('Description') }}
                                            {{ tooltip.icon('You can add short decsription to the table between title and table', 'top', true) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="elements[description]"
                                                {{ checkbox.checked(table.settings.elements.description) }}
                                            id="table-elements-description"
                                            data-target-toggle=".table-elements-description-options"/>
                                        <!-- /#table-elements-caption -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row table-elements-description-options"
                                    {% if table.settings.elements.description is not defined %}
                                        style="display:none"
                                    {% endif %}
                                >
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="table-elements-description-text">
                                            {{ environment.translate('Description Text') }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <textarea id="descriptionText">{{ table.settings.elements.descriptionText | default('') }}</textarea>
                                        <input type="hidden" name="elements[descriptionText]" value="{{ table.settings.elements.descriptionText | default('') }}"
                                            id="table-elements-description-text"/>
                                        <!-- /#table-elements-caption -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="table-elements-head">
                                            {{ environment.translate('Header') }}
                                            {{ tooltip.icon('<img src="http://supsystic.com/_assets/tables/tooltip/Header.jpg"/>', 'top', true) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="elements[head]"
                                                {{ checkbox.checked(table.settings.elements.head) }}
                                            id="table-elements-head"
                                            data-target-toggle=".table-elements-head-options"/>
                                        <!-- /#table-elements-head -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row table-elements-head-options"
                                    {% if table.settings.elements.head is not defined %}
                                        style="display:none"
                                    {% endif %}
                                >
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="headerRowsCount">
                                            {{ environment.translate('Count of Header Rows') }}
                                            {{ tooltip.icon(environment.translate('Count of table rows, which will be moved to header.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input name="headerRowsCount" id="headerRowsCount" type="text" value="{{ table.settings.headerRowsCount | default(1) }}">
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="table-elements-foot">
                                            {{ environment.translate('Footer') }}
                                            {{ tooltip.icon('<img src="http://supsystic.com/_assets/tables/tooltip/footer.jpg"/>', 'top', true) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="elements[foot]"
                                                {{ checkbox.checked(table.settings.elements.foot) }}
                                            id="table-elements-foot"/>
                                        <!-- /#table-elements-foot -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="features-fixed-header">
                                            {{ environment.translate('Fixed Header') }}
                                            {{ tooltip.icon(environment.translate('Allows to fix the table\'s header during table scrolling. Important! Header option must be enabled for using this feature. Also you need to set Fixed Table Height to create a vertical scroll at the table. To see the work of this feature you should not use such Responsive Modes as Standard and Automatic columns hiding.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="fixedHeader"
                                                {{ checkbox.checked(table.settings.fixedHeader) }}
                                            id="features-fixed-header"
                                            class="features-fixed-header-footer"/>
                                        <!-- /#features-fixed-header -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="features-fixed-footer">
                                            {{ environment.translate('Fixed Footer') }}
                                            {{ tooltip.icon(environment.translate('Allows to fix the table\'s footer during table scrolling. Important! Footer option must be enabled for using this feature. Also you need to set Fixed Table Height to create a vertical scroll at the table. To see the work of this feature you should not use such Responsive Modes as Standard and Automatic columns hiding.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="fixedFooter"
                                                {{ checkbox.checked(table.settings.fixedFooter) }}
                                            id="features-fixed-footer"
                                            class="features-fixed-header-footer"/>
                                        <!-- /#features-fixed-footer -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row features-fixed-height"
                                    {% if table.settings.fixedHeader is not defined and table.settings.fixedFooter is not defined %}
                                        style="display:none"
                                    {% endif %}
                                >
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="fixedHeight">
                                            {{ environment.translate('Fixed Table Height') }}
                                            {{ tooltip.icon(environment.translate('Fixed table height in px. This value must be less than the original table height to create a vertical scroll, otherwise you will not see that the fixed header / footer exists.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input name="fixedHeight" id="fixedHeight" type="text" value="{{ table.settings.fixedHeight | default(400) }}">
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="features-fixed-columns">
                                            {{ environment.translate('Fixed Columns') }}
                                            {{ tooltip.icon(environment.translate('Allows to fix columns during table scrolling. Important! The fixing of columns suggests that the table will have a horisontal scroll type of responsive mode, otherwise you will not see that the fixed columns exist. So this feature is a kind of responsive mode on its own and will not work with such Responsive Modes as Standard and Automatic columns hiding.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="fixedColumns"
                                                {{ checkbox.checked(table.settings.fixedColumns) }}
                                            id="features-fixed-columns"
                                            data-target-toggle=".fixed-columns-options"/>
                                        <!-- /#features-fixed-columns -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row fixed-columns-options"
                                    {% if table.settings.fixedColumns is not defined %}
                                        style="display:none"
                                    {% endif %}
                                >
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="fixedLeftColumnsCount">
                                            {{ environment.translate('Left Columns Count') }}
                                            {{ tooltip.icon(environment.translate('Number of column to fix by left side of table.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input name="fixedLeftColumnsCount" id="fixedLeftColumnsCount" type="text" value="{{ table.settings.fixedLeftColumnsCount | default(1) }}">
                                    </div>
                                </div>
                                <div class="setting-wrapper row fixed-columns-options"
                                    {% if table.settings.fixedColumns is not defined %}
                                        style="display:none"
                                    {% endif %}
                                >
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="fixedRightColumnsCount">
                                            {{ environment.translate('Right Columns Count') }}
                                            {{ tooltip.icon(environment.translate('Number of column to fix by right side of table.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input name="fixedRightColumnsCount" id="fixedRightColumnsCount" type="text" value="{{ table.settings.fixedRightColumnsCount | default(0) }}">
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="autoIndex">
                                            {{ environment.translate('Auto Index') }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <select name="autoIndex" id="autoIndex">
                                            {% for value, title in {'off': 'No index', 'first': 'Use first column', 'new':'Create new column'} %}
                                                <option value="{{ value }}"
                                                    {% if table.settings.autoIndex == value %}
                                                        selected="selected"
                                                    {% endif %}>
                                                    {{ title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div style="padding: 0 15px;">
                                    <h3>{{ environment.translate('Data Formats') }}</h3>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="editor-use-number-format">
                                            {{ environment.translate('Number Formatting') }}
                                            {{ tooltip.icon(environment.translate('Set format of all numbers in the table')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="useNumberFormat"
                                                {{ checkbox.checked(table.settings.useNumberFormat) }}
                                            id="editor-use-number-format" />
                                    </div>
                                </div>
                                <div class="setting-wrapper row use-number-format-options"
                                    {% if table.settings.useNumberFormat is not defined %}
                                        style="display:none"
                                    {% endif %}
                                >
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="editor-set-number-format">
                                            {{ environment.translate('Number') }}
                                            {{ tooltip.icon(environment.translate('Set output format for numbers e.g. 1,000.00, 1.00')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input name="numberFormat" id="editor-set-number-format" type="text" value="{{ table.settings.numberFormat | default('1,000.00') }}">
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="editor-set-currency-format">
                                            {{ environment.translate('Currency') }}
                                            {{ tooltip.icon(environment.translate('Set output format for currencies e.g ($ 1,000.00, € 1.00)')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input name="currencyFormat" id="editor-set-currency-format" type="text" value="{{ table.settings.currencyFormat | default('$1,000.00') }}">
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="editor-set-percent-format">
                                            {{ environment.translate('Percent') }}
                                            {{ tooltip.icon(environment.translate('Set output format for percent numbers e.g (0.00%, 1%)')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input name="percentFormat" id="editor-set-percent-format" type="text" value="{{ table.settings.percentFormat | default('10.00%') }}">
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="editor-set-date-format">
                                            {{ environment.translate('Date') }}
                                            {{ tooltip.icon(environment.translate('Set output format for date e.g (YYYY-MM-DD, MM.DD.YYYY)')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input name="dateFormat" id="editor-set-date-format" type="text" value="{{ table.settings.dateFormat | default('DD.MM.YYYY') }}">
                                    </div>
                                </div>
                            </div>
                            <!-- /.form-table -->
                        </section>
                        <section class="row row-settings-tab" id="row-tab-settings-features">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="title-place" style="min-height: 38px;"></div>
                        <div class="setting-wrapper row">
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="features-ordering">
                                    {{ environment.translate('Sorting') }}
                                    {{ tooltip.icon('<p style="width:227px; padding:5px margin:0">To allow dynamic sorting with arrows you must enable Header option.</p><img src="http://supsystic.com/_assets/tables/tooltip/Ordrering.jpg"/>', 'top', true) }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input type="checkbox" name="features[ordering]"
                                        {{ checkbox.checked(table.settings.features.ordering) }}
                                       id="features-ordering"
                                       data-target-toggle=".sorting-options"/>
                                <!-- /#features-ordering -->
                            </div>
                        </div>
                        <div class="setting-wrapper row sorting-options"
                                {% if table.settings.features.ordering is not defined %}
                                    style="display:none"
                                {% endif %}
                                >
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="sortingOrder">
                                    {{ environment.translate('Sorting Order') }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <select name="sortingOrder">
                                    <option value="asc">{{ environment.translate('Ascending') }}</option>
                                    <option value="desc"
                                            {% if table.settings.sortingOrder == 'desc' %}
                                                selected="selected"
                                            {% endif %}
                                            >{{ environment.translate('Descending') }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="setting-wrapper row sorting-options"
                                {% if table.settings.features.ordering is not defined %}
                                    style="display:none"
                                {% endif %}
                                >
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="sortingOrderColumn">
                                    {{ environment.translate('Sorting Column') }}
                                    {{ tooltip.icon(environment.translate('Number of column to apply sort order.')) }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input name="sortingOrderColumn" id="sortingOrderColumn" type="text" value="{{ table.settings.sortingOrderColumn | default(1) }}">
                            </div>
                        </div>
                        <div class="setting-wrapper row">
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="features-pagination">
                                    {{ environment.translate('Pagination') }}
                                    {{ tooltip.icon('<img src="http://supsystic.com/_assets/tables/tooltip/Pagination.jpg"/>', 'top', true) }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input data-toggle="collapse" type="checkbox" name="features[paging]"
                                        {{ checkbox.checked(table.settings.features.paging) }}
                                       id="features-pagination"
                                       data-target-toggle=".pagination-options"/>
                                <!-- /#features-pagination -->
                            </div>
                        </div>
                        <div class="setting-wrapper row pagination-options"
                                {% if table.settings.features.paging is not defined %}
                                    style="display:none"
                                {% endif %}
                                >
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="pagination-length">
                                    {{ environment.translate('Pagination menu length') }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input type="text"
                                       name="paginationMenuLength"
                                       value="{{ table.settings.paginationMenuLength | default('50,100,All') }}"
                                       id="pagination-length" />
                            </div>
                        </div>
                        <div class="setting-wrapper row pagination-options"
                                {% if table.settings.features.paging is not defined %}
                                    style="display:none"
                                {% endif %}
                                >
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="pagination-size">
                                    {{ environment.translate('Pagination Size') }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <select name="paginationSize" id="pagination-size" >
                                    {% for value, name in {
                                    'pagination-large': environment.translate('Large'),
                                    'pagination-medium': environment.translate('Medium'),
                                    'pagination-small': environment.translate('Small'),
                                    } %}
                                        <option value="{{ value }}"
                                                {% if value == table.settings.paginationSize|default('large') %}
                                                    selected="selected"
                                                {% endif %}
                                                >
                                            {{ name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="setting-wrapper row">
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="features-searching">
                                    {{ environment.translate('Searching') }}
                                    {{ tooltip.icon('<img src="http://supsystic.com/_assets/tables/tooltip/Searching.jpg"/>', 'top', true) }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input type="checkbox" name="features[searching]"
                                        {{ checkbox.checked(table.settings.features.searching) }}
                                       id="features-searching"
                                       data-target-toggle=".searching-options"/>
                                <!-- /#features-searching -->
                            </div>
                        </div>
                        <div class="setting-wrapper row searching-options"
                                {% if table.settings.features.searching is not defined %}
                                    style="display:none"
                                {% endif %}
                                >
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="searching[resultOnly]">
                                    {{ environment.translate('Show only search result') }}
                                    {{ tooltip.icon(environment.translate('Table is empty by default and shows data only if search has a result.')) }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input type="checkbox" name="searching[resultOnly]"
                                        {{ checkbox.checked(table.settings.searching.resultOnly) }}
                                        >
                            </div>
                        </div>
                        <div class="setting-wrapper row searching-options"
                                {% if table.settings.features.searching is not defined %}
                                    style="display:none"
                                {% endif %}
                                >
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="searching[searchByHiddenField]">
                                    {{ environment.translate('Search by hidden fields') }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input type="checkbox" name="searching[searchByHiddenField]"
                                        {{ checkbox.checked(table.settings.searching.searchByHiddenField) }}
                                        >
                            </div>
                        </div>
                        <div class="setting-wrapper row searching-options"
                                {% if table.settings.features.searching is not defined %}
                                    style="display:none"
                                {% endif %}
                                >
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">

                                <label for="searching[strictMatching]">
                                    {{ environment.translate('Strict matching') }}
                                    {{ tooltip.icon(environment.translate('Display only entries with matching characters in the beginning of words')) }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input type="checkbox" name="searching[strictMatching]"
                                        {{ checkbox.checked(table.settings.searching.strictMatching) }}
                                        >
                            </div>
                        </div>
                        <div class="setting-wrapper row searching-options"
                                {% if table.settings.features.searching is not defined %}
                                    style="display:none"
                                {% endif %}
                                >
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <label for="searching[minChars]">
                                    {{ environment.translate('Minimum characters') }}
                                    {{ tooltip.icon(environment.translate('Minimum search field characters to start search')) }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input
                                        type="text"
                                        name="searching[minChars]"
                                        value="{{ table.settings.searching.minChars|default('0') }}" />
                            </div>
                        </div>
                        <div class="setting-wrapper row searching-options"
                                {% if table.settings.features.searching is not defined %}
                                    style="display:none"
                                {% endif %}
                                >
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">

                                <label for="searching[showTable]">
                                    {{ environment.translate('Show empty table') }}
                                    {{ tooltip.icon(environment.translate('Show empty table, until you have entered the data to search field.')) }}
                                </label>
                            </div>
                            <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                <input type="checkbox" name="searching[showTable]"
                                        {{ checkbox.checked(table.settings.searching.showTable) }}
                                        >
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="title-place" style="min-height: 38px;"></div>
                            <div class="setting-wrapper row">
                                <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                    <label for="disallowIndexing">
                                        {{ environment.translate('Disallow Indexing') }}
                                        {{ tooltip.icon(environment.translate('Disable indexing table for search bots')) }}
                                    </label>
                                </div>
                                <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                    <input type="checkbox" name="disallowIndexing"
                                            {{ checkbox.checked(table.settings.disallowIndexing) }} />
                                </div>
                            </div>
                            {% if environment.isPro() == false %}
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="save-editable-fields-unavailable">
                                            {{ environment.translate('Save Editable Fields') }}
                                            {{ tooltip.icon(environment.translate('Allows to save data to the table through editable fields.')) }}
                                            <br>
                                                <span>
                                                    <a target="_blank" class="supsystic-pro-feature" href="{{ build_pro_url({ 'utm_medium': 'editable_fields_feature' }) }}">
                                                        {{ environment.translate('PRO option') }}
                                                    </a>
                                                </span>
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" disabled="disabled" id="save-editable-fields-unavailable"/>
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="editable-fields-logged-in-unavailable">
                                            {{ environment.translate('Use Editable Fields for Logged In Users Only') }}
                                            {{ tooltip.icon(environment.translate('Allows to use editable fields only for logged in users.')) }}
                                            <br>
                                                <span>
                                                    <a target="_blank" class="supsystic-pro-feature" href="{{ build_pro_url({ 'utm_medium': 'editable_fields_for_logged_in_only' }) }}">
                                                        {{ environment.translate('PRO option') }}
                                                    </a>
                                                </span>
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" disabled="disabled" id="editable-fields-logged-in-unavailable"/>
                                    </div>
                                </div>
                                <div class="setting-wrapper row editable-fields-logged-in-options">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="editable-fields-roles-unavailable">
                                            {{ environment.translate('Use Editable Fields for Current Roles') }}
                                            {{ tooltip.icon(environment.translate('Allows to use editable fields only for users with selected roles. If there are no chosen roles - all logged in users will have ability to use the editable fields.')) }}
                                            <br>
                                                <span>
                                                    <a target="_blank" class="supsystic-pro-feature" href="{{ build_pro_url({ 'utm_medium': 'editable_fields_for_current_roles' }) }}">
                                                        {{ environment.translate('PRO option') }}
                                                    </a>
                                                </span>
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <select name="useEditableFieldsForCurRoles[]" disabled="disabled" id="editable-fields-roles-unavailable" data-placeholder="{{ environment.translate('Select roles')}}">
                                            <option>{{ environment.translate('Select roles')}}</option>
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                            {% if environment.isPro() == false %}
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="features-export-unavailable">
                                            {{ environment.translate('Frontend Export') }}
                                            {{ tooltip.icon(environment.translate('Allow export table to pdf, csv, xls on frontend')) }}
                                            <br>
                                                <span>
                                                    <a target="_blank" class="supsystic-pro-feature" href="{{ build_pro_url({ 'utm_medium': 'export_feature' }) }}">
                                                        {{ environment.translate('PRO option') }}
                                                    </a>
                                                </span>
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" disabled="disabled" id="features-export-unavailable"/>
                                    </div>
                                </div>
                            {% endif %}
                            {{ environment.getDispatcher().dispatch('tables-view-features', [table]) }}
                            <div class="setting-wrapper row after-table-loaded-script">
                                <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                    <label for="after-table-loaded-script">
                                        {{ environment.translate('Execute JS Script After Table Is Loaded') }}
                                        {{ tooltip.icon(environment.translate('Allows to execute js script after table is loaded.')) }}
                                    </label>
                                </div>
                                <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                    <input type="checkbox"
                                           name="features[enable_after_table_loaded_script]"{{ checkbox.checked(table.settings.features.enable_after_table_loaded_script) }}
                                           id="enable-after-table-loaded-script"/>
                                    <textarea id="after-table-loaded-script" placeholder="{{ environment.translate('Paste script code here')}}" style="margin-top: 10px;">{{ table.settings.features.after_table_loaded_script | default('') }}</textarea>
                                    <input type="hidden"
                                           name="features[after_table_loaded_script]"
                                           value="{{ table.settings.features.after_table_loaded_script | default('') }}"
                                           id="table-features-after-table-loaded-script"
                                            />
                                </div>
                            </div>
                            <!-- /.form-table -->
                        </div>
                        </section>
                        <section class="row row-settings-tab" id="row-tab-settings-design">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="title-place" style="min-height: 38px;"></div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="features-auto-width">
                                            {{ environment.translate('Auto Width') }}
                                            {{ tooltip.icon(environment.translate('Calculate the columns width on frontend automatically or depending on the columns width on the Editor Tab.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="features[auto_width]"
                                                {{ checkbox.checked(table.settings.features.auto_width) }}
                                               id="features-auto-width"/>
                                        <!-- /#features-auto-width -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="styling-compact">
                                            {{ environment.translate('Compact Table') }}
                                            {{ tooltip.icon(environment.translate('Reduce the amount of white-space.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox"
                                               name="styling[compact]"
                                                {{ checkbox.checked(attribute(table.settings.styling, 'compact')) }}
                                               id="styling-compact"/>
                                        <!-- /#styling-compact -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="styling-nowrap">
                                            {{ environment.translate('Disable Wrapping') }}
                                            {{ tooltip.icon(environment.translate('Disable wrapping of content in the table, so all text in the cells is on a single line.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox"
                                               name="styling[nowrap]"
                                                {{ checkbox.checked(attribute(table.settings.styling, 'nowrap')) }}
                                               id="styling-nowrap"/>
                                        <!-- /#styling-nowrap -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="paragraphMode">
                                            {{ environment.translate('Paragraph Mode') }}
                                            {{ tooltip.icon(environment.translate('This mode allows you to separate the content into paragraphs. To move to a new line in the cell - please press CTRL + Enter.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox"
                                               name="styling[paragraphMode]"
                                                {{ checkbox.checked(attribute(table.settings.styling, 'paragraphMode')) }}
                                               id="paragraphMode"/>
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="styling-stripe">
                                            {{ environment.translate('Responsive Mode') }}
                                            {{ tooltip.icon(
                                            environment.translate('Standard Responsive mode - in this mode if table content doesn’t fit all columns become under each other with one cell per row') ~ '<br>' ~ '<br>' ~
                                            environment.translate('Automatic column hiding - in this mode table columns will collapse from right to left if content does not fit to parent container width') ~ '<br>' ~ '<br>' ~
                                            environment.translate('Horizontal scroll - in this mode scroll bar will be added if table overflows parent container width') ~ '<br>' ~
                                            environment.translate('Disable Responsivity - default table fluid layout') ~ '<br>'
                                            ) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <select name="responsiveMode">
                                            {% for value, name in {
                                            '0': environment.translate('Standard Responsive mode'),
                                            '1': environment.translate('Automatic column hiding'),
                                            '2': environment.translate('Horizontal scroll'),
                                            '3': environment.translate('Disable Responsivity'),
                                            } %}
                                                <option value="{{ value }}"
                                                        {% if value == table.settings.responsiveMode|default(0) %}
                                                            selected="selected"
                                                        {% endif %}
                                                        >
                                                    {{ name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="title-place" style="min-height: 38px;" ></div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="features-state-saving">
                                            {{ environment.translate('Table Information') }}
                                            {{ tooltip.icon(environment.translate('Table information display field. %s') | format('<img src="http://supsystic.com/_assets/tables/tooltip/info.jpg"/>') | raw, 'top', true) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="features[info]"
                                                {{ checkbox.checked(table.settings.features.info) }}
                                               id="features-state-saving"/>
                                        <!-- /#features-state-saving -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="styling-border">
                                            {{ environment.translate('Borders') }}
                                            {{ tooltip.icon(environment.translate('Cell - adds border around all four sides of each cell, Row – adds border only over and under each row. (i.e. only for the rows).')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <select name="styling[border]"
                                                id="styling-border">
                                            {% for option in [
                                            { 'name': environment.translate('Cell'), 'value': 'cell-border' },
                                            { 'name': environment.translate('Row'), 'value': 'row-border' },
                                            { 'name': environment.translate('None'), 'value': 'no-border' }
                                            ] %}
                                                <option value="{{ option.value }}" {% if table.settings.styling.border == option.value %}selected="selected"{% endif %}>{{ option.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <!-- /#styling-border -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="styling-stripe">
                                            {{ environment.translate('Row Striping') }}
                                            {{ tooltip.icon(environment.translate('Add automatic highlight of table rows for odd and even rows.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox"
                                               name="styling[stripe]"
                                                {{ checkbox.checked(attribute(table.settings.styling, 'stripe')) }}
                                               id="styling-stripe"/>
                                        <!-- /#styling-stripe -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="styling-hover">
                                            {{ environment.translate('Highlighting by Mouseover') }}
                                            {{ tooltip.icon(environment.translate('Row highlighting on mouse over.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="styling[hover]"
                                                {{ checkbox.checked(attribute(table.settings.styling, 'hover')) }}
                                               id="styling-hover"/>
                                        <!-- /#styling-hover -->
                                    </div>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="styling-order-column">
                                            {{ environment.translate('Highlight the Order Column') }}
                                            {{ tooltip.icon(environment.translate('Highlight the column that the table data is currently ordered on.')) }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox"
                                            name="styling[order-column]"
                                            {{ checkbox.checked(attribute(table.settings.styling, 'order-column')) }}
                                            id="styling-order-column"/>
                                        <!-- /#styling-order-column -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-md-4 col-sm-6 col-xs-12 -->
                        </section>
                        <section class="row row-settings-tab" id="row-tab-settings-text">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div style="padding: 0 15px;">
                                    <h3>{{ environment.translate('Overwrite Table Text') }}</h3>
                                </div>
                                {% set language_override = {
                                'emptyTable': {
                                'default': translate('No data available in table'),
                                'label': translate('Empty table'),
                                },
                                'info': {
                                'default': translate('Showing _START_ to _END_ of _TOTAL_ entries'),
                                'label': translate('Table info text'),
                                },
                                'infoEmpty': {
                                'default': translate('Showing 0 to 0 of 0 entries'),
                                'label': translate('Empty info text'),
                                },
                                'infoFiltered': {
                                'default': translate('(filtered from _MAX_ total entries)'),
                                'label': translate('Filtered info text'),
                                },
                                'lengthMenu': {
                                'default': translate('Show _MENU_ entries'),
                                'label': translate('Length text'),
                                },
                                'search': {
                                'default': translate('Search:'),
                                'label': translate('Search label'),
                                },
                                'zeroRecords': {
                                'default': translate('No matching records are found'),
                                'label': translate('Zero records'),
                                },
                                } %}
                                {% for key, data in language_override %}
                                    <div class="setting-wrapper row">
                                        <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                            <label for="language-{{ key }}">
                                                {{ data.label }}
                                            </label>
                                        </div>
                                        <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                            <input id="language-{{ key }}" type="text" name="language[{{ key }}]" value="{{ attribute(table.settings.language, key) }}" placeholder="{{ data.default }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div style="padding: 0 15px;">
                                    <h3>{{ environment.translate('Language') }}</h3>
                                </div>
                                <div class="setting-wrapper row">
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <label for="language-file">
                                            {{ environment.translate('Select language') }}
                                        </label>
                                    </div>
                                    <div class="setting-item col-md-6 col-sm-6 col-xs-12">
                                        <select name="language[file]" id="language-file">
                                            <option value="default"
                                                    {% if table.settings.language.file is not defined or table.settings.language.file == 'default' or translations | length < 1 %}
                                                selected="selected"
                                                    {% endif %}>
                                                English
                                            </option>
                                            {% for supportedLanguage in translations %}
                                                <option value="{{ supportedLanguage }}"
                                                        {% if table.settings.language.file == supportedLanguage %}selected="selected"{% endif %}>
                                                    {{ supportedLanguage }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    </form>
                </div>

            <div class="row row-tab" id="row-tab-editor">
            <div class="col-xs-12">

            <div id="loadingProgress">
                <p class="description">
                    <i class="fa fa-fw fa-spin fa-circle-o-notch"></i>
                    {{ environment.translate('Loading your table, please wait...') }}
                </p>
            </div>

            <div id="tableToolbar">
                <ul>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Rows')) }} data-toolbar="#toolbar-rows">
                            <i class="fa fa-fw fa-th-list"></i>
                        </button>
                        <div id="toolbar-rows" class="toolbar-content">
                            <a href="#" data-method="row">
                                <i class="fa fa-fw fa-plus"></i>
                            </a>
                            <a href="#" data-method="remove_row">
                                <i class="fa fa-fw fa-trash-o"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Columns')) }} data-toolbar="#toolbar-cols">
                            <i class="fa fa-fw fa-th-large"></i>
                        </button>
                        <div id="toolbar-cols" class="toolbar-content">
                            <a href="#" data-method="column">
                                <i class="fa fa-fw fa-plus"></i>
                            </a>
                            <a href="#" data-method="remove_col">
                                <i class="fa fa-fw fa-trash-o"></i>
                            </a>
                        </div>
                        <!-- /#toolbar-cols -->
                    </li>
                </ul>
                <ul>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Bold')) }} data-method="bold">
                            <i class="fa fa-fw fa-bold"></i>
                        </button>
                    </li>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Italic')) }} data-method="italic">
                            <i class="fa fa-fw fa-italic"></i>
                        </button>
                    </li>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Underline')) }} data-method="underline">
                            <i class="fa fa-fw fa-underline"></i>
                        </button>
                    </li>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Text color')) }} id="textColor">
                            <i class="fa fa-fw fa-font"></i>
                        </button>
                    </li>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Background color')) }} id="bgColor">
                            <i class="fa-fw background-fill-icon"></i>
                        </button>
                    </li>
                </ul>
                <ul>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Alignment')) }} data-toolbar="#toolbar-alignment">
                            <i class="fa fa-fw fa-align-left"></i>
                        </button>
                        <div id="toolbar-alignment" class="toolbar-content">
                            <a href="#" data-method="left">
                                <i class="fa fa-fw fa-align-left"></i>
                            </a><br/>
                            <a href="#" data-method="center">
                                <i class="fa fa-fw fa-align-center"></i>
                            </a><br/>
                            <a href="#" data-method="right">
                                <i class="fa fa-fw fa-align-right"></i>
                            </a>
                        </div>
                        <!-- /#toolbar-alignment -->
                    </li>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Vertical alignment')) }} data-toolbar="#toolbar-alignment-vertical">
                            <i class="fa fa-fw fa-align-left fa-rotate-90"></i>
                        </button>
                        <div id="toolbar-alignment-vertical" class="toolbar-content">
                            <a href="#" data-method="top">
                                <sup><i class="fa fa-fw fa-align-center"></i></sup>
                            </a>
                            <a href="#" data-method="middle">
                                <small><i class="fa fa-fw fa-align-center"></i></small>
                            </a>
                            <a href="#" data-method="bottom">
                                <sub style="bottom: -.6em"><i class="fa fa-fw fa-align-center"></i></sub>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Word wrapping')) }} data-toolbar="#toolbar-word-wrapping-options" id="toolbar-word-wrapping">
                            <i class="toolbar-word-wrap"></i>
                        </button>
                        <div id="toolbar-word-wrapping-options" class="toolbar-content">
                            <a href="#" data-method="word-wrap-default">
                                <i class="toolbar-word-wrap"></i>
                            </a><br/>
                            <a href="#" data-method="word-wrap-visible">
                                <i class="toolbar-word-wrap word-wrap-visible"></i>
                            </a><br/>
                            <a href="#" data-method="word-wrap-hidden">
                                <i class="toolbar-word-wrap word-wrap-hidden"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Create a link')) }} data-method="link">
                            <i class="fa fa-fw fa-link"></i>
                        </button>
                    </li>
                </ul>
                <ul>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Insert picture')) }} data-method="picture">
                            <i class="fa fa-fw fa-picture-o"></i>
                        </button>
                    </li>
                </ul>
                <ul>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Comment')) }} data-toolbar="#toolbar-comment">
                            <i class="fa fa-fw fa-comment"></i>
                        </button>
                        <div id="toolbar-comment" class="toolbar-content">
                            <a href="#" data-method="addEditComment">
                                <i class="fa fa-fw fa-pencil"></i>
                            </a>
                            <a href="#" data-method="removeComment">
                                <i class="fa fa-fw fa-trash-o"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Formats')) }} data-toolbar="#toolbar-formats-list" id="toolbar-formats" data-style="list">
                            <i class="formats-icon"></i>
                        </button>
                        <div id="toolbar-formats-list" class="toolbar-content">
                            <a href="#" class="text-format" data-method="setFormat" data-type="text">Plain</a>
                            <a href="#" class="currency-format" data-method="setFormat" data-type="currency" data-format="{{ table.settings.currencyFormat | default('$1,0.00') }}">Currency ($1,000.00)</a>
                            <a href="#" class="percent-format" data-method="setFormat" data-type="percent" data-format="{{ table.settings.percentFormat | default('0.00%') }}">Percent (10.02%)</a>
                            <a href="#" class="date-format" data-method="setFormat" data-type="date" data-format="{{ table.settings.dateFormat | default('DD.MM.YYYY') }}">Date (25.10.2016)</a>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <button {{ tooltip.attr(environment.translate('Make the cell hidden. <br /><br />To display the table correctly, please, add hidden property for the whole row or the whole column of table.')) }} data-toolbar="#toolbar-hiddenCell">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </button>
                        <div id="toolbar-hiddenCell" class="toolbar-content">
                            <a href="#" data-method="addHiddenCell"><i class="fa fa-fw fa-plus"></i></a>
                            <a href="#" data-method="removeHiddenCell"><i class="fa fa-fw fa-trash-o"></i></a>
                        </div>
                    </li>
                </ul>
                {% if environment.isPro() == false %}
                    <ul>
                        <li>
                            <button {{ tooltip.attr(environment.translate('Add diagram')) }} id="addDiagramProFeature">
                                <i class="fa fa-fw fa-bar-chart"></i>
                            </button>
                        </li>
                    </ul>
                {% endif %}
                {% if environment.isPro() == false %}
                    <ul>
                        <li>
                            <button {{ tooltip.attr(environment.translate('Add editable field')) }} id="editableFieldProFeature">
                                <i class="fa fa-fw fa-pencil-square-o"></i>
                            </button>
                        </li>
                    </ul>
                {% endif %}
                {{ environment.getDispatcher().dispatch('toolbar_rendered', [table]) }}
            </div>
            <!-- /#tableToolbar -->

            <div id="formulaEditor">
                        <span class="formula-icon">
                            <em class="function">f</em>(&times;)
                        </span>
                <input type="text" id="formula"/>
                <div class="clear"></div>
            </div>
            <!-- /#formulaEditor -->

            <div id="tableEditor"></div>
            <!-- /#tableEditor -->
            </div>
            </div>

            <div class="row row-tab" id="row-tab-preview">
                <div class="col-xs-12">
                    <p class="description">
                        <i class="fa fa-fw fa-exclamation-circle"></i>
                        {{ environment.translate('Note that the table may look a little different depending on your theme style.') }}
                    </p>
                    <div id="table-preview"></div>
                </div>
            </div>

            <div class="row row-tab" id="row-tab-css">
                <div class="col-xs-12">
{% set defaultCss %}/* Here you can add custom CSS for the current table */
/* Lean more about CSS: https://en.wikipedia.org/wiki/Cascading_Style_Sheets */
/*
To prevent the use of styles to other tables use "#supsystic-table-5" as a base selector
for example:
#supsystic-table-5 { ... }
#supsystic-table-5 tbody { ... }
#supsystic-table-5 tbody tr { ... }
*/
{% endset %}
                    <div id="css-editor">{% if table.meta.css | length > 0 %}{{ table.meta.css }}{% else %}{{ defaultCss }}{% endif %}</div>
                </div>
            </div>
            {{ environment.getDispatcher().dispatch('tabs_content_rendered', [table]) }}
        </div>
        <!-- /.container-fluid -->
        {{ environment.getDispatcher().dispatch('tables-view-footer') }}

        <div id="proPopup" style="display: none;" title="{{ environment.translate('Get PRO version') }}">
            <p>
                Please be advised that this option is available only in
                <a target="_blank" href="{{ build_pro_url({ 'utm_medium': 'import_export' }) }}" style="color: #000;">PRO
                    version</a>. You can
                <a target="_blank" href="{{ build_pro_url({ 'utm_medium': 'import_export' }) }}" class="button supsystic-button"><span class="ui-button-text">Get PRO</span></a> today and get this and other PRO option for your tables!
            </p>
        </div>

        <div id="cloneDialog" style="display: none;" title="Clone Table">
            <div class="input-group">
                <label>{{ environment.translate('Name of Cloned Table') }}</label>
                <input type="text">
            </div>
        </div>

        <div id="editableFieldProFeatureDialog" style="display: none;" title="{{ environment.translate('Editable fields') }}">
            {% set url = '<a target="_blank" href="' ~ build_pro_url({ 'utm_medium': 'editable_fields' }) ~ '" style="color: #000;">' ~ environment.translate('PRO version') ~ '</a>' %}
            {% set url2 = '<a target="_blank" href="' ~ build_pro_url({ 'utm_medium': 'editable_fields' }) ~ '" style="color: #000;" class="button supsystic-button"><span class="ui-button-text">' ~ environment.translate('Get PRO') ~ '</span></a>' %}
            <p>
                {{ environment.translate('Please be advised that this option is available only in %s. You can %s today and get this and other PRO option for your tables!')|format(url, url2)|raw }}
            </p>
        </div>

        <div id="addDiagramProFeatureDialog" class="supsystic-plugin" style="display: none;" title="{{ environment.translate('Diagram') }}">
            {% set url = build_pro_url({ 'utm_medium': 'diagrams' })  %}
             <a href="{{ url }}" class="button button-hero" style="position: absolute; top: 63px; right: 20px; padding-top: 1px !important;" target="_blank">
                 {{ environment.translate('Get PRO') }}
             </a>
            <div id="previewDiagramProFeature" style="z-index: 10;" title="{{ environment.translate('Diagram') }}">
                <div class="tab-switch" data-tabs>
                    <a class="active" href="#typeProFeature">{{ environment.translate('Type') }}</a>
                    <a href="#settingsProFeature">{{ environment.translate('Settings') }}</a>
                </div>
                <div class="tabs">
                    <div id="typeTabProFeature" class="tab active" data-tab="#typeProFeature">
                        <a href="{{ url }}" target="_blank">
                            <img src="{{ environment.getModule('diagram').getLocationUrl() }}/assets/img/diagrams_dialog_type_tab.png" alt="Diagrams" title="diagrams_dialog_tab_1 Tab Content" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div id="settingsTabProFeature" class="tab" data-tab="#settingsProFeature">
                        <a href="{{ url }}" target="_blank">
                            <img src="{{ environment.getModule('diagram').getLocationUrl() }}/assets/img/diagrams_dialog_settings_tab.png" alt="Diagrams" title="Settings Tab Content" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="insertUrlDialog" style="display: none;" title="{{ environment.translate('Insert url') }}">
            <div class="input-group">
                <p>
                    <label>{{ environment.translate('Url') }}</label>
                    <input type="text" class="url" >
                </p>
                <p>
                    <label>{{ environment.translate('Link Text') }}</label>
                    <input type="text" class="link-text">
                </p>
                <p>
                    <label><span>&nbsp;</span>
                        <input type="checkbox" class="link-target">
                        <span>&nbsp;</span>{{ environment.translate('Open link in a new tab') }}
                    </label>
                </p>
            </div>
        </div>

    </div>
    <!-- /.supsystic-item -->
    <div style="clear: both;"></div>
{% endblock %}
